<%= form_with scope: :robot, url: robots_report_path do |form| %>
    <% if @robot %>
        <%= hidden_field_tag("id", @robot.id, :id => "robot_id") %>
    <% end %>

    <p class="text-center">
    <%= form.submit "Report", :class => "btn btn-outline-dark" %>
    </p>
<% end %>