// Place all the styles related to the Robots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    font-family:Verdana!important;
}
.table-row > .table-cell{
    position: relative;
    width: 5em;
    display:inline-block;
    color:#303030;
    cursor:default;
    opacity:1;
  }
  
  .table-row > .table-cell:after {
        content: "";
        display: block;
        padding-bottom: 100%;
  }
  
.table-cell-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:blue;
}

.fa-space-shuttle{
    font-size:3em;
    color:white;
}


.form-label{
    width:100%;
    text-align:center;
}

.robot-log{
    background-color:black;
    color:green;
    width:75%;
    max-height:23em;
    height:23em;
    overflow-y:auto;
    font-family: Inconsolata, monospace;
}

.rotate-form{
    display:inline-block;
    margin-right:10px;
    margin-left:10px;
}

.background-error{
    background-color: red!important;
}

.center-content{
    align-items:center;
    justify-content: center;
    flex-direction:column;
}